.sapMPageHeader {
	background-color: black !important;
}

.exaHeaderText>.sapMBtnText {
	color: white !important;
}

.imagePos {
	height: 3rem !important;
	margin-left: 0rem !important;
}

.sapMBtnIcon {
	color: white !important;
}

.sapMBtn .sapMBtnContent {
	color: white;
}

.simpleCnter {
	width: 30% !important;
    margin-left: 32.5% !important;
    margin-top: 3rem !important;
    background-color: #74acbf !important;
}

.headerTxt {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1rem;
	color: white;
	font-weight: bold;
}
